class ApiSecrets {
  static const List<String> geminiApiKeys = [
    'YOUR_GEMINI_API_KEY_1',
    'YOUR_GEMINI_API_KEY_2',
  ];

  static const String usdaApiKey = 'YOUR_USDA_API_KEY';

  // Firebase Web
  static const String firebaseWebApiKey = 'YOUR_FIREBASE_WEB_API_KEY';
  static const String firebaseWebAppId = 'YOUR_FIREBASE_WEB_APP_ID';
  static const String firebaseWebMessagingSenderId = 'YOUR_SENDER_ID';
  static const String firebaseWebProjectId = 'YOUR_PROJECT_ID';
  static const String firebaseWebAuthDomain = 'YOUR_AUTH_DOMAIN';
  static const String firebaseWebStorageBucket = 'YOUR_STORAGE_BUCKET';
  static const String firebaseWebMeasurementId = 'YOUR_MEASUREMENT_ID';

  // Firebase Android
  static const String firebaseAndroidApiKey = 'YOUR_ANDROID_API_KEY';
  static const String firebaseAndroidAppId = 'YOUR_ANDROID_APP_ID';

  // Firebase iOS
  static const String firebaseIosApiKey = 'YOUR_IOS_API_KEY';
  static const String firebaseIosAppId = 'YOUR_IOS_APP_ID';
  static const String firebaseIosAndroidClientId = 'YOUR_IOS_ANDROID_CLIENT_ID';
  static const String firebaseIosClientId = 'YOUR_IOS_CLIENT_ID';
  static const String firebaseIosBundleId = 'YOUR_BUNDLE_ID';

  // Firebase Windows
  static const String firebaseWindowsApiKey = 'YOUR_WINDOWS_API_KEY';
  static const String firebaseWindowsAppId = 'YOUR_WINDOWS_APP_ID';
  static const String firebaseWindowsMeasurementId = 'YOUR_WINDOWS_MEASUREMENT_ID';
}
